<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cilicili.jz2.dao.HistoryMapper">

    <resultMap id="BaseResultMap" type="cilicili.jz2.pojo.History">
        <id column="history_id" property="historyId" />
        <result column="user_id" property="userId" />
        <result column="video_id" property="videoId" />
        <!--<result column="watch_time" property="watchTime" />-->
    </resultMap>



    <insert id="insert" parameterType="cilicili.jz2.pojo.History">
    insert into History (user_id,video_id)
    values (#{userId,jdbcType=INTEGER}, #{videoId,jdbcType=INTEGER}
      )
  </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from history
    where history_id = #{id,jdbcType=INTEGER}
  </delete>

    <select id="findById" resultMap="BaseResultMap">
    SELECT *
    FROM history
    WHERE history_id = #{id}
  </select>
    <select id="showhistorys" resultType="cilicili.jz2.pojo.Video">
    SELECT *
    FROM videos AS a
      JOIN
      (SELECT
         user_id,
         video_id
       FROM history) AS b
        ON a.id = b.video_id
    WHERE b.user_id = #{userId}
    ORDER BY a.id DESC
  </select>


</mapper>
